.AuthPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 2vmin;
}

.AuthPage h3 {
    margin: 3vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
}
