.Logo {
    height: 22vmin;
    width: 22vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    font-size: 2.7vmin;
    font-weight: bolder;
    font-family: 'almendra display';
    border: .6vmin solid var(--tan-2);
    }
    